






body {
	text-align: center;
	font-family: "Happy Monkey", system-ui;
  	font-weight: 400;
 	font-style: normal;
 	background: linear-gradient(lightblue, lightpink);
 	/*background-color: #a2d2ff; */
 	color: #ffffff;
 	display: flex;
 	flex-direction: column;
 	align-items: center;

 
}


#bday {
	background: #EFB0C9;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 5px 0 10px 0;

}


#wife {
	width: 400px;
	border-radius: 30%;
	border: 8px solid #EFB0C9;
}


.gift-section {
	margin-top: 50px;
}

.gift-img {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift.jpg');
	background-size: cover;
}

#gift-img-cheers {
	height: 400px;

}


.gift-love {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift2.jpg');
	background-size: cover;
}


.gift-friends {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift.jpg');
	background-size: cover;
}


.gift-future {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift2.jpg');
	background-size: cover;
}

.gift-title {
	margin-bottom: 10px;
}


.gift-hint {
	margin-top: 0;
}


}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gift-img:hover {
	background-image: url('jim.gif');
	width: 500px;
	height: 600px;
}


#gift-love:hover {
	background-image: url('monkey.gif');
	width: 500px;
	height: 600px;
}



#gift-friends:hover {
	background-image: url('friends.gif');
	width: 500px;
	height: 600px;
}


#gift-future:hover {
	background-image: url('couple.gif');
	width: 500px;
	height: 600px;
}



#gift-img-cheers:hover {
	background-image: url('cheers.gif');
	width: 500px;
	height: 300px;
	background-size: center;

}

#footer {
	margin-top: 50px;
	font-style: italic;
	widht: 400px;
	color: black;
}





