






body {
	text-align: center;
	font-family: "Happy Monkey", system-ui;
  	font-weight: 400;
 	font-style: normal;
 	background: linear-gradient(blue, lightsteelblue);
 	/*background-color: #a2d2ff; */
 	color: #ffffff;
 	display: flex;
 	flex-direction: column;
 	align-items: center;

 
}


#bday {
	background: steelblue;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 5px 0 10px 0;

}


#corey {
  width: 280px;              
  height: 280px;             
  object-fit: cover;         
  border-radius: 30%;        
  border: 8px solid #000;    
  display: inline-block;     
  vertical-align: middle;    
  margin: 0 8px;           
}



.gift-section {
	margin-top: 50px;
}

.gift-img {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift-cover.jpg');
	background-size: cover;
}

#gift-img-cheers {
	height: 400px;

}


.gift-love {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift-cover.jpg');
	background-size: cover;
}


.gift-friends {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift-cover.jpg');
	background-size: cover;
}


.gift-future {
	width: 800px;
	height: 600px;
	border: 6px solid white;
	border-radius: 10px;
	background-image: url('gift-cover.jpg');
	background-size: cover;
}

.gift-title {
	margin-bottom: 10px;
}


.gift-hint {
	margin-top: 0;
}


}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#notes {
	max-width: 700px;         
  	width: 90%;
  	margin: 2rem auto;         
  	padding: 1rem 1.25rem;
  	text-align: left;          
  	line-height: 1.6;
  	background: rgba(255,255,255,0.12); 
  	border-radius: 12px;   
}

.gift-img:hover {
	background-image: url('happy.gif');
	width: 500px;
	height: 600px;
}


#gift-love:hover {
	background-image: url('love.gif');
	width: 500px;
	height: 600px;
}



#gift-friends:hover {
	background-image: url('room.gif');
	width: 500px;
	height: 600px;
}


#gift-future:hover {
	background-image: url('family.gif');
	width: 500px;
	height: 600px;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: contain;  
  	background-color: #000;    
}



#gift-img-cheers:hover {
	background-image: url('cheers.gif');
	width: 500px;
	height: 300px;
	background-size: center;
	background-size: contain;

}

#footer {
	margin-top: 50px;
	font-style: italic;
	widht: 400px;
	color: black;
}





